/* styles */
.code .c { font-style: italic } /* Comment */
.code .k { font-weight: bold } /* Keyword */
.code .o { font-weight: bold } /* Operator */
.code .cm { font-style: italic } /* Comment.Multiline */
.code .cp { font-weight: bold; font-style: italic } /* Comment.Preproc */
.code .c1 { font-style: italic } /* Comment.Single */
.code .cs { font-weight: bold; font-style: italic } /* Comment.Special */
.code .ge { font-style: italic } /* Generic.Emph */
.code .gs { font-weight: bold } /* Generic.Strong */
.code .kc { font-weight: bold } /* Keyword.Constant */
.code .kd { font-weight: bold } /* Keyword.Declaration */
.code .kn { font-weight: bold } /* Keyword.Namespace */
.code .kp { font-weight: bold } /* Keyword.Pseudo */
.code .kr { font-weight: bold } /* Keyword.Reserved */
.code .kt { font-weight: bold } /* Keyword.Type */
.code .nc { font-weight: bold } /* Name.Class */
.code .nd { font-weight: bold } /* Name.Decorator */
.code .ne { font-weight: bold } /* Name.Exception */
.code .nf { font-weight: bold } /* Name.Function */
.code .nl { font-weight: bold } /* Name.Label */
.code .ow { font-weight: bold } /* Operator.Word */

/* github */
pre.code { background-color: #f8f8f8; }

.code .err { background-color: #e3d2d2 }
.code .gd { background-color: #ffdddd }
.code .gi { background-color: #ddffdd }
.code .hll { background-color: #ffffcc }

.code .bp { color: #999999 } /* Name.Builtin.Pseudo */
.code .c { color: #999988 } /* Comment */
.code .c1 { color: #999988 } /* Comment.Single */
.code .cm { color: #999988 } /* Comment.Multiline */
.code .cp { color: #999999 } /* Comment.Preproc */
.code .cs { color: #999999 } /* Comment.Special */
.code .err { color: #a61717 } /* Error */
.code .gd { color: #000000 } /* Generic.Deleted */
.code .ge { color: #000000 } /* Generic.Emph */
.code .gh { color: #999999 } /* Generic.Heading */
.code .gi { color: #000000 } /* Generic.Inserted */
.code .go { color: #888888 } /* Generic.Output */
.code .gp { color: #555555 } /* Generic.Prompt */
.code .gr { color: #aa0000 } /* Generic.Error */
.code .gt { color: #aa0000 } /* Generic.Traceback */
.code .gu { color: #aaaaaa } /* Generic.Subheading */
.code .hll { color: inherit }
.code .il { color: #009999 } /* Literal.Number.Integer.Long */
.code .k { color: #000000 } /* Keyword */
.code .kc { color: #000000 } /* Keyword.Constant */
.code .kd { color: #000000 } /* Keyword.Declaration */
.code .kn { color: #000000 } /* Keyword.Namespace */
.code .kp { color: #000000 } /* Keyword.Pseudo */
.code .kr { color: #000000 } /* Keyword.Reserved */
.code .kt { color: #445588 } /* Keyword.Type */
.code .m { color: #009999 } /* Literal.Number */
.code .mf { color: #009999 } /* Literal.Number.Float */
.code .mh { color: #009999 } /* Literal.Number.Hex */
.code .mi { color: #009999 } /* Literal.Number.Integer */
.code .mo { color: #009999 } /* Literal.Number.Oct */
.code .na { color: #008080 } /* Name.Attribute */
.code .nb { color: #0086B3 } /* Name.Builtin */
.code .nc { color: #445588 } /* Name.Class */
.code .nd { color: #3c5d5d } /* Name.Decorator */
.code .ne { color: #990000 } /* Name.Exception */
.code .nf { color: #990000 } /* Name.Function */
.code .ni { color: #800080 } /* Name.Entity */
.code .nl { color: #990000 } /* Name.Label */
.code .nn { color: #555555 } /* Name.Namespace */
.code .no { color: #008080 } /* Name.Constant */
.code .nt { color: #000080 } /* Name.Tag */
.code .nv { color: #008080 } /* Name.Variable */
.code .o { color: #000000 } /* Operator */
.code .ow { color: #000000 } /* Operator.Word */
.code .s { color: #d01040 } /* Literal.String */
.code .s1 { color: #d01040 } /* Literal.String.Single */
.code .s2 { color: #d01040 } /* Literal.String.Double */
.code .sb { color: #d01040 } /* Literal.String.Backtick */
.code .sc { color: #d01040 } /* Literal.String.Char */
.code .sd { color: #d01040 } /* Literal.String.Doc */
.code .se { color: #d01040 } /* Literal.String.Escape */
.code .sh { color: #d01040 } /* Literal.String.Heredoc */
.code .si { color: #d01040 } /* Literal.String.Interpol */
.code .sr { color: #009926 } /* Literal.String.Regex */
.code .ss { color: #990073 } /* Literal.String.Symbol */
.code .sx { color: #d01040 } /* Literal.String.Other */
.code .vc { color: #008080 } /* Name.Variable.Class */
.code .vg { color: #008080 } /* Name.Variable.Global */
.code .vi { color: #008080 } /* Name.Variable.Instance */
.code .w { color: #bbbbbb } /* Text.Whitespace */
