@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(fonts/lato-regular_latin-ext.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(fonts/lato-regular_latin.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-display: swap;
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Gentium Book Basic'), local('GentiumBookBasic'), url('fonts/gentiumbookbasic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

h1, h2, h3, h4 { font-family: Lato, sans-serif }
body { font-family: 'Gentium Book Basic', Cambria, Georgia, Times, serif }

:root {
    --bg: #fafafa;
    --bg-highlight: rgba(0,0,0,0.05);
    --bg-metadata: #00a55e;
    --bg-notice: #a5005e;
    --bg-main: #ffffff;
    --border: #00a55e;
    --border-main: #dddddd;
    --border-table-inner: #dddddd;
    --border-table-outer: #999999;
    --divider: #333333;
    --text: #000000;
    --text-thead: #ffffff;
    --text-highlight: #000000;
    --text-highlight-inline: #ff0000;
    --text-link: #ca2017;
    --text-metadata: #ffffff;
    --text-notice: #ffffff;
    --text-stars: #ff0000;
}

@media only screen and (max-width: 1300px) {
    body {
        margin: 0 3em 0 1em !important;
    }
    .grid-2col {
        margin: 0 !important;
    }
}
@media only screen and (max-width: 1064px) {
    body {
        margin: 0 3em !important;
    }
    .sidebar {
        display: none !important;
    }
    .grid-2col {
        grid-column-gap: 0px !important;
        grid-template-columns: auto !important;
    }
}

body {
    padding: 0;
    margin: 0 25vw 0 3em;
    background-color: var(--bg);
    color: var(--text);
    font-size: 15px;
    counter-reset: sidenote-counter;
}

article, section {
    margin: 0;
    padding: 0;
}

.main-text {
    font-size: 18px;
    line-height: 1.4;
    padding: 30px 60px;
    background-color: var(--bg-main);
    border: 1px solid var(--border-main);
    border-top: none;
}

.navigation-list {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}

.navigation-list-item {
    line-height: 1.3;
    list-style-type: none;
}

.navigation-list-item::before {
    content: "— ";
    padding-right: 6px;
}

.current-page {
    font-weight: bold;
}

.back-link {
    display: block;
    margin-bottom: 1em;
}

dl {
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
}

.grid-2col {
    display: grid;
    grid-column-gap: 64px;
    grid-template-columns: 250px minmax(700px, 1300px);
    max-width: 1364px;
    margin: 0 auto;
    padding: 0;
}

hr {
    border: none;
    border-top: 1px dotted var(--divider);
    color: var(--divider);
}

.sidebar {
    margin-top: 1em;
}

.sidebar > * {
    margin-bottom: 1em;
}

.sidebar-sticky {
    position: sticky;
    top: 1em;
}

.sidebar-sticky > * {
    margin-bottom: 1em;
}

.flex-grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

.flex-item {
    flex-grow: 1;
    flex-basis: 0;
    margin: 5px;
}

.meta-message {
    background: var(--bg-notice);
    color: var(--text-notice);
    padding: 30px;
}

.meta-message a, .meta-message a:link, .meta-message a:visited, .meta-message a:active, .meta-message a:hover {
    color: var(--text-notice);
    text-decoration: underline;
}

.sidebar-metadata-label, .sidebar-metadata-value {
    padding: 0;
    margin: 0;
}

.sidebar-metadata {
    background: var(--bg-metadata);
    color: var(--text-metadata);
    padding: 30px;
}

.sidebar-metadata a, .sidebar-metadata a:link, .sidebar-metadata a:visited, .sidebar-metadata a:active, .sidebar-metadata a:hover {
    color: var(--text-metadata);
    text-decoration: underline;
}

.sidebar-metadata-label, .sidebar-metadata-value {
    display: block;
}

.sidebar-metadata-value {
    font-weight: bold;
    margin-bottom: 6px;
}

a, a:link, a:visited {
    color: var(--text-link);
    text-decoration: none;
}

a:active, a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1.5em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.4em;
    position: relative;
    margin: 1em 0;
}
h3 {
    font-size: 1.2em;
    position: relative;
    margin: 1em 0;
}
h4 {
    font-size: 1em;
    position: relative;
    margin: 1em 0;
}
h2::before, h3::before, h4::before {
    color: var(--text-stars);
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
}
h2::before {
    content: "*";
    left: -0.7em;
}
h3::before {
    content: "* *";
    left: -1.55em;
}
h4::before {
    content: "* * *";
    left: -2.4em;
}

.sidenote {
    float: right;
    clear: right;
    width: 20vw;
    margin-right: -25vw;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    position: relative;
}

.sidenote-number {
    position: relative;
    font-size: 0.8em;
    top: -0.4em;
    margin: 0 0.4em;
    font-weight: bold;
    color: var(--text-link);
}

pre.code, blockquote {
    padding-left: 20px;
    border-left: 4px solid var(--border);
}

pre.code {
    overflow: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.9em;
}

pre.asciiart {
    line-height: normal;
}

table {
    width: 98%;
    border-top: 1px solid var(--border-table-outer);
    border-bottom: 1px solid var(--border-table-outer);
    border-collapse: collapse;
    border-spacing: none;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    padding: 0 6px;
}

thead {
    background-color: var(--border-table-outer);
    color: var(--text-thead);
}

tr:nth-child(even) {
    background-color: var(--bg-highlight);
    color: var(--text-highlight);
}

.table-column-group-end {
    border-right: 1px solid var(--border-table-inner);
    padding-right: 16px;
}

img, svg {
    max-width: 100%;
}

aside.highlight {
    background-color: var(--bg-highlight);
    color: var(--text-highlight);
    padding: 1em;
}

span.highlight {
    color: var(--text-highlight-inline);
    font-weight: bold;
}

.spoiler {
    color: var(--text);
    background-color: var(--text);
}

.spoiler:hover {
    color: inherit;
    background-color: transparent;
}

.mini-title {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0.5em 0;
    padding: 0;
}
.mini-title::before {
    content: "";
}
