@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Staatliches'), url(fonts/staatliches_latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Staatliches'), url(fonts/staatliches_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-display: swap;
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Gentium Book Basic'), local('GentiumBookBasic'), url('fonts/gentiumbookbasic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

:root {
    --text: #0b0c0c;
    --text-alt: #505a5f;

    --link: #003078;
    --link-alt: #1d70b8;

    --border: #b1b4b6;

    --highlight: #ff0000;

    --heading-underline: #730b0b;

    --bg-notice: #a5005e;
    --text-notice: #ffffff;

    --thead-fg: #ffffff;
    --thead-bg: #730b0b;
    --text-table-even: #000000;
    --bg-table-even: rgba(0,0,0,0.05);
    --border-table-inner: #dddddd;
    --border-table-outer: #730b0b;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    object-fit: scale-down;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 18px;
    counter-reset: sidenote-counter;
}

body {
    font-family: "Gentium Book Basic", Cambria, Georgia, Times, serif;
    color: var(--text);
}

p {
    line-height: 1.4;
}

a[aria-current="page"] {
    font-weight: bold;
}

#outer-wrapper {
    margin: 32px 25vw 32px 3em;
}

#inner-wrapper {
    max-width: 1364px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 1000px;
    grid-column-gap: 64px;
    grid-template-areas:
        "header header"
        "sidebar main";
}

#header {
    grid-area: header;
}

#sidebar {
    grid-area: sidebar;
}

#main {
    grid-area: main;
}
.link, .markdown a {
    color: var(--link);
    text-decoration: underline;
}

.link:hover, .markdown a:hover {
    color: var(--link-alt);
    text-decoration: none;
}

.link--no-underline {
    text-decoration: none;
}

.link--notice {
    color: var(--text-notice) !important;
}

.main-heading {
    font-family: Staatliches, serif;
    font-size: 3.5rem;
    text-align: right;
    margin-bottom: 32px;
}

.memo-metadata {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 16px;
}

.memo-metadata__label {
    text-align: right;
    font-weight: bold;
}

.footer {
    color: var(--text-alt);
    text-align: right;
    padding: 16px;
    font-size: 0.8rem;
}

.navigation-list__item {
    list-style-type: none;
}

.navigation-list__item::before {
    content: "— ";
    padding-right: 6px;
}

.navigation-list__item > .navigation-list {
    padding-left: 20px;
}

.sidebar__sticky {
    position: sticky;
    top: 1em;
}

.sidebar-box + .sidebar-box, .division-above {
    margin-top: 24px;
    padding-top: 16px;
    border-top: 1px solid var(--border);
}

.sidebar-box--notice {
    background: var(--bg-notice);
    color: var(--text-notice);
    padding: 30px !important;
    border: none !important;
}

.markdown h2 {
    font-family: Staatliches, serif;
    font-size: 2.5rem;
    margin: 32px 0 16px 0;
    border-bottom: 5px solid var(--heading-underline);
}

.markdown h3 {
    font-family: Staatliches, serif;
    font-size: 2rem;
    margin-bottom: 16px;
}

.markdown h4 {
    font-family: Staatliches, serif;
    font-size: 1.5rem;
    margin-bottom: 16px;
}

.markdown ul, .markdown ol {
    margin-top: 16px;
    padding-left: 20px;
}

.markdown blockquote, .markdown pre, .markdown table {
    margin: 16px 0;
}

.markdown blockquote, .markdown pre.code {
    border-left: 5px solid var(--border);
    padding-left: 8px;
}

.markdown pre.code {
    overflow: auto;
    font-size: 0.8rem;
}

.markdown p, .markdown li {
    margin-bottom: 16px;
}

.markdown span.highlight {
    color: var(--highlight);
    font-weight: bold;
}

.markdown aside.highlight {
    padding: 16px;
    margin: 16px 0;
    border: 5px solid var(--highlight);
    font-weight: bold;
}

.markdown figure {
    margin-bottom: 16px;
}

.markdown img {
    margin: 0 auto;
    display: block;
}

.markdown figcaption {
    text-align: center;
    font-style: italic;
}

.markdown hr {
    color: var(--border);
    margin: 24px;
}

.markdown .sidenote {
    float: right;
    clear: right;
    width: 20vw;
    margin-right: -25vw;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    position: relative;
}

.markdown .sidenote-number {
    position: relative;
    font-size: 0.8em;
    top: -0.4em;
    margin: 0 0.4em;
    font-weight: bold;
    color: var(--text-link);
}

.markdown pre.asciiart {
    line-height: normal;
}

.markdown table {
    width: 100%;
    border-top: 1px solid var(--border-table-outer);
    border-bottom: 1px solid var(--border-table-outer);
    border-collapse: collapse;
    border-spacing: none;
}

.markdown td, .markdown th {
    padding: 8px;
}

.markdown thead {
    background-color: var(--thead-bg);
    color: var(--thead-fg);
}

.markdown tr:nth-child(even) {
    background-color: var(--bg-table-even);
    color: var(--text-table-even);
}

.markdown .table-column-group-end {
    border-right: 1px solid var(--border-table-inner);
    padding-right: 16px;
}

.markdown .spoiler {
    color: var(--text);
    background-color: var(--text);
}

.markdown .spoiler:hover {
    color: inherit;
    background-color: transparent;
}

@media (max-width: 800px) {
    html {
        font-size: 16px;
    }

    #outer-wrapper {
        margin: 16px;
    }

    #inner-wrapper.wrapper-for-list {
        grid-template-columns: 200px minmax(min-content, 1300px);
    }

    #inner-wrapper.wrapper-for-memo {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "sidebar"
            "main";
    }

    .wrapper-for-memo #sidebar {
        border-bottom: 1px solid var(--border);
        margin-bottom: 16px;
        padding-bottom: 24px;
    }

    .main-heading {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    .sidebar__sticky {
        position: static;
    }
}
 @media (max-width: 600px) {
    #inner-wrapper.wrapper-for-list {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "sidebar"
            "main";
    }

    .wrapper-for-list #sidebar {
        border-bottom: 1px solid var(--border);
        margin-bottom: 16px;
        padding-bottom: 24px;
    }
}
