<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Michael Walker">
    <meta name="robots" content="FOLLOW,INDEX">

    <meta property="og:site_name" content="{{ site_name }}">
    <meta property="og:url"       content="{{ permalink }}">
    <meta property="og:title"     content="{{ title }}">

    <meta name="twitter:card"    content="summary">
    <meta name="twitter:site"    content="@barrucadu">
    <meta name="twitter:creator" content="@barrucadu">

    <link rel="canonical" href="{{ permalink }}">

    <base href="{{ base_href }}">

    <title>{{ title }}</title>

    <link rel="stylesheet preload" href="{{ hashed_links['style.css'] }}" as="style" type="text/css">

    {% if tag is defined %}
    <link rel="alternate" type="application/atom+xml" title="{{ title }}" href="{{ tag.feed_link }}">
    {% endif %}
    {% if taxon is defined %}
    <link rel="alternate" type="application/atom+xml" title="{{ title }}" href="{{ taxon.feed_link }}">
    {% endif %}
    <link rel="alternate" type="application/atom+xml" title="{{ site_name }}" href="atom.xml">

    {% block head %}
    {% endblock %}
  </head>

  <body itemscope itemtype="http://schema.org/WebPage">
    <div class="grid-2col" itemscope itemtype="http://schema.org/{% block itemtype %}{% endblock %}" itemprop="mainEntity">
      <nav class="sidebar">
        {% block sidebar %}
        {% endblock %}
      </nav>

      <article class="main-text">
        {% block body %}
        {% endblock %}

        {% include "_person.html" %}
      </article>
    </div>
  </body>
</html>
