<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Michael Walker">
    <meta name="robots" content="FOLLOW,INDEX">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="{{ site_name }}">
    <meta property="og:url"       content="{{ permalink }}">
    <meta property="og:title"     content="{{ title }}">

    <meta name="twitter:card"    content="summary">
    <meta name="twitter:site"    content="@barrucadu">
    <meta name="twitter:creator" content="@barrucadu">

    <link rel="canonical" href="{{ permalink }}">

    <base href="{{ base_href }}">

    <title>{{ title }}</title>

    <link rel="stylesheet preload" href="{{ hashed_links['style.css'] }}" as="style" type="text/css">

    {% if taxon is defined %}
    <link rel="alternate" type="application/atom+xml" title="{{ title }}" href="{{ taxon.feed_link }}">
    {% endif %}
    <link rel="alternate" type="application/atom+xml" title="{{ site_name }}" href="atom.xml">

    {% block head %}{% endblock %}
  </head>

  <body>
    <header>
      <h1 class="main-heading">{{ title }}</h1>
    </header>

    <div id="wrapper">
      <main>
        {% block body %}{% endblock %}
      </main>

      {% block fullsidebar %}
      <nav>
        {% block sidebar %}{% endblock %}
      </nav>
      {% endblock %}
    </div>

    <footer>
      <p>Copyright <a class="link" href="https://www.barrucadu.co.uk">Michael Walker</a>, available under the terms of the <a class="link" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><abbr title="Creative Commons">CC</abbr> <abbr title="Attribution-NonCommercial-ShareAlike 4.0 International">BY-NC-SA 4.0</abbr> license</a>.</p>
      <p>The main heading uses <a class="link" href="https://mbtype.com/fonts/advocate/">Advocate</a>, body text uses <a class="link" href="https://mbtype.com/fonts/heliotrope/">Heliotrope</a>, code samples use <a class="link" href="https://fonts.google.com/specimen/Fira+Mono">Fira Mono</a>.</p>
    </footer>
  </body>
</html>
