{% extends "_layout.html" %}
{% block sidebar %}
{% include "_list_sidebar.html" %}
{% endblock %}
{% block body %}
<aside class="highlight">
  <p>Looking for weeknotes?  They've been moved to <a class="link" href="https://weeknotes.barrucadu.co.uk/">weeknotes.barrucadu.co.uk</a>.</p>
</aside>

<p>Atom feed for <a class="link" href="atom.xml">all memos</a>.</p>

<ol class="navigation-list navigation-list--index">
{% for memo in memos %}
  {% if memo.title.startswith("Weeknotes: ") %}
  {% elif memo.title.startswith("Weeknote Special: ") %}
  {% else %}
     <li class="navigation-list__item"><a class="link link--no-underline" href="{{ memo.link }}">{{ memo.title }}</a></li>
  {% endif %}
{% endfor %}
</ol>
{% endblock %}
