{% extends "_layout.html" %}
{% block itemtype %}Blog{% endblock %}
{% block sidebar %}
<ul>
  <li class="navigation-list-item">
    {% if taxon is not defined and tag is not defined %}
    <span class="current-page">All Memos</span>
    {% else %}
    <a href="">All Memos</a>
    {% endif %}
    <ul>
      {% with parent = "" %}{% include "_taxon_tree.html" %}{% endwith %}
    </ul>
  </li>
</ul>
<hr>
<ul>
  {% for t in tags %}
  <li class="navigation-list-item">
    {% if tag is defined and tag == t %}
    <span class="current-page">{{ t.name }}</span>
    {% else %}
    <a href="{{ t.link }}">{{ t.name }}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
</nav>
{% endblock %}
{% block body %}
<header>
  <h1 itemprop="headline name">{{ title }}</h1>

  <p>
    Atom feed
    {% if tag is defined %}
    for memos tagged <a href="{{ tag.feed_link }}">'{{ tag.name }}'</a> or
    {% endif %}
    {% if taxon is defined %}
    for <a href="{{ taxon.feed_link }}">{{ taxon.long_name }}</a> or
    {% endif %}
    for <a href="atom.xml">all memos</a>.
  </p>

  {% if taxon is defined %}
    {% if taxon.parent == '' %}
      <span class="back-link">Back to <a href="">all memos</a>.</span>
    {% else %}
      <span class="back-link">Back to <a href="{{ taxon.parent_link }}">{{ taxon.parent_name }}</a>.</span>
    {% endif %}
    {% if taxon.has_children %}
      <hr>
      <h2 class="mini-title">Subtaxa</h2>
      <ul class="navigation-list">
        {% for t in taxa %}
          {% if t.parent == taxon.slug %}
            <li class="navigation-list-item">
              <a href="{{ t.link }}">{{ t.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% elif tag is defined %}
    <span class="back-link">Back to <a href="">all memos</a>.</span>
  {% else %}
    <hr>
    <h2 class="mini-title">Subtaxa</h2>
    <ul class="navigation-list">
      {% for t in taxa %}
        {% if t.parent == '' %}
          <li class="navigation-list-item">
            <a href="{{ t.link }}">{{ t.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  <hr>
</header>

<section>
  {% if memos is defined %}
    {% if is_root %}
      <h2 class="mini-title">All memos</h2>
    {% elif taxon is defined %}
      <h2 class="mini-title">Memos in this taxon</h2>
    {% elif tag is defined %}
      <h2 class="mini-title">Memos in this tag</h2>
    {% endif %}
    {% include "_memo_list.html" %}
  {% endif %}

  {% if extra_memos is defined %}
    <hr>
    <h2 class="mini-title">Memos in subtaxa</h2>
    {% with memos = extra_memos %}{% include "_memo_list.html" %}{% endwith %}
  {% endif %}
</section>
{% endblock %}
