{% extends "_layout.html" %}
{% block sidebar %}
{% include "_list_sidebar.html" %}
{% endblock %}
{% block body %}
<p>
  Atom feed
  {% if tag is defined %}
  for memos tagged <a class="link" href="{{ tag.feed_link }}">'{{ tag.name }}'</a> or
  {% endif %}
  {% if taxon is defined %}
  for <a class="link" href="{{ taxon.feed_link }}">{{ taxon.long_name }}</a> or
  {% endif %}
  for <a class="link" href="atom.xml">all memos</a>.
</p>

{% if taxon is defined %}
  {% if taxon.has_children %}
    <p>Restrict to{% for t in taxa %}{% if t.parent == taxon.slug %} <a class="link" href="{{ t.link }}">{{ t.name }}</a>{% endif %}{% endfor %}.</p>
  {% endif %}
  {% if taxon.parent == '' %}
    <p>Back to <a class="link" href="">all memos</a>.</p>
  {% else %}
    <p>Back to <a class="link" href="{{ taxon.parent_link }}">{{ taxon.parent_name }}</a>.</p>
  {% endif %}
{% elif tag is defined %}
  <p>Back to <a class="link" href="">all memos</a>.</p>
{% else %}
    <p>Restrict to{% for t in taxa %}{% if t.parent == '' %} <a class="link" href="{{ t.link }}">{{ t.name }}</a>{% endif %}{% endfor %}.</p>
{% endif %}

<ol class="navigation-list division-above">
{% for memo in memos %}
  <li class="navigation-list__item"><a class="link link--no-underline" href="{{ memo.link }}">{{ memo.title }}</a></li>
{% endfor %}
</ol>
{% endblock %}
