<h1>
  $if(important)$
    <span class="important"><a href="/tag/important.html">!</a></span>
  $endif$
  <a href="$url$">$title$</a>
</h1>

<table>
  <tr>
    <th>Date</th>
    <td><time datetime="$isodate$">$ppdate$</time></td>
  </tr>
  <tr>
    <th>Tags</th>
    <td>$tags$</td>
  </tr>
  $if(deprecated_by)$
    <tr>
      <th>Deprecated By</th>
      <td><a href="/$deprecated_by$.html">$deprecated_by$</a></td>
    </tr>
  $endif$
  <tr>
    <th>Target Audience</th>
    <td>$audience$</td>
  </tr>
  $if(epistemic_status)$
    <tr>
      <th>Epistemic Status</th>
      <td>$epistemic_status$</td>
    </tr>
  $endif$
  $if(notice)$
    <tr>
      <th>Attention Conservation Notice</th>
      <td>$notice$</td>
    </tr>
  $endif$
</table>
