{% extends "_layout.html" %}
{% block itemtype %}BlogPosting{% endblock %}
{% block body %}
<header>
  <h1 itemprop="headline name">{{ title }}</h1>

  <div class="flex-grid">
    {% if toc is defined %}
    <nav class="flex-item">
      <ol class="navigation-list">
        {% for link in toc %}
        <li class="navigation-list-item"><a href="{{ url|e }}#{{ link.anchor|e }}">{{ link.title|e }}</a></li>
        {% endfor %}
      </ol>
    </nav>
    {% endif %}

    <div class="flex-item">
      <dl class="header-metadata">
        <dt class="header-metadata-label">Target audience:</dt>
        <dd class="header-metadata-value">{{ audience|e }}</dd>
        <dt class="header-metadata-label">First published:</dt>
        <dd class="header-metadata-value"><time itemprop="datePublished" content="{{ published_iso|e }}" datetime="{{ published_iso|e }}">{{ published_pp|e }}</time></dd>
        {% if published_iso != modified_iso %}
        <dt class="header-metadata-label">Last updated:</dt>
        <dd class="header-metadata-value"><time itemprop="dateModified" content="{{ modified_iso|e }}" datetime="{{ modified_iso|e }}">{{ modified_pp|e }}</time></dd>
        {% endif %}
        {% if deprecated_by is defined %}
        <dt class="header-metadata-label">Replaced by:</dt>
        <dd class="header-metadata-value"><a href="{{ deprecated_by|e }}.html">{{ deprecated_by|e }}</a></dd>
        {% endif %}
        <dt class="header-metadata-label">Tags:</dt>
        <dd class="header-metadata-value">
          {% for tag in tags %}
          <a href="{{ tag_dir|e }}{{ tag.slug|e }}.html">{{ tag.name|e }}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
        </dd>
      </dl>
    </div>
  </div>
</header>

<section itemprop="articleBody">
{{ content }}
</section>
{% endblock %}
