<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Michael Walker">
    <meta name="robots" content="FOLLOW,INDEX">

    <meta property="og:site_name" content="barrucadu's memos"/>
    <meta property="og:url"       content="https://memo.barrucadu.co.uk$url$">
    <meta property="og:title"     content="$title$" />

    <meta name="twitter:card"    content="summary" />
    <meta name="twitter:site"    content="@barrucadu" />
    <meta name="twitter:creator" content="@barrucadu">

    <link rel="canonical" href="https://memo.barrucadu.co.uk$url$"/>

    <title>$title$</title>

    <link rel="stylesheet" href="/code.css" type="text/css">
    <link rel="stylesheet" href="/style.css" type="text/css">

    $if(tag)$
    <link rel="alternate" type="application/atom+xml" title="barrucadu's memos - tagged '$tag$'" href="/tag/$tag$.xml" />
    $endif$
    <link rel="alternate" type="application/atom+xml" title="barrucadu's memos" href="/atom.xml" />

    <script src="/MathJax/MathJax.js?config=TeX-AMS_CHTML" async></script>
  </head>

  <body itemscope itemtype="http://schema.org/WebPage">
    <article itemscope itemtype="http://schema.org/$item_type$" itemprop="mainEntity">
      $body$

      $partial("templates/person-me.html")$
    </article>
  </body>
</html>
