<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Michael Walker">
    <meta name="robots" content="FOLLOW,INDEX">

    <title>$title$</title>

    <link rel="stylesheet" href="/tufte.css" type="text/css">
    <link rel="stylesheet" href="/code.css" type="text/css">
    <link rel="stylesheet" href="/style.css" type="text/css">

    $if(tag)$
    <link rel="alternate" type="application/atom+xml" title="barrucadu's memos - tagged '$tag$'" href="/tag/$tag$.xml" />
    $endif$
    <link rel="alternate" type="application/atom+xml" title="barrucadu's memos" href="/atom.xml" />
  </head>

  <body>
    <article>
      $body$
     </article>
  </body>
</html>
