name: Run tests

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-python@v5
      - name: Lint
        run: |
          set -ex
          pip install flake8 black
          black build pandoc-filter-*
          flake8 build pandoc-filter-*
          git diff --exit-code
